@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(/images/loginbg.jpg);
    background-size: cover;
    position: relative ;
    
}

.log{
    width: 80%;
    max-width: 400px;
    height: 60vh;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
    background-image: url("/images/abtbg.jpg");
    background: #fff;
    text-align: center;
    margin: 6% auto 0;
    padding: 0;
    border-radius: 5%;

}
.dialogue{
  float: left;
  font-size: 16px;

}

.dialogue::after{
  content: "*";
  color: red;
  font-size: 16px;
}


.log h1{
    margin-bottom: 30px;
    color: white;
    font-size: 40px;
    font-weight: 700;
    background: rgb(16,95,143);
    background: radial-gradient(circle, rgba(16,95,143,1) 17%, rgba(16,46,143,1) 36%, rgba(27,27,196,1) 50%, rgba(16,46,143,1) 68%, rgba(16,95,143,1) 89%);
    padding-top: 30px;
    padding-bottom: 30px;
    border-top-left-radius: 6%;
    border-top-right-radius: 5%;
}

.inputbox{
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    margin: 10px 0;
    outline: none;
    border: 1px solid gray;
}

.signinbtn{
    width: 80%;
    color: #070707;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(132, 132, 245);
}

.signinbtn:hover{
    background-color: rgba(61, 61, 207, 0.897);
    transition: 1s;
    transform: scale(1.08);
    color: floralwhite;
}

a{
    text-decoration: none;
}

hr{
    margin-top: 20px;
    width: 100%;
}



form{
    padding-left: 2%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius:50% ;
    border-bottom-right-radius:50% ;
    padding: 10px;
  }
  
  .topnav {
    flex: 1;
    text-align: right;
  }
  
  .topnav ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  
  .topnav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #2e20aa;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .topnav ul li:hover:after {
    width: 100%;
  }

  nav p{
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    color: #fff
    
  }

  @media (max-width: 768px) {
    

    .log h1 {
        font-size: 30px; 
    }

    .inputbox {
        width: 90%; 
    }

    .signinbtn {
        width: 90%; 
    }

    nav p {
        font-size: 24px; 
    }
  }
